@import "tailwindcss";

/* 1. Define the actual hex values */
:root {
  --background: #FDFBF7;
  --foreground: #3f3f46;
  --primary: #D67FA3;
  --hvr: #B55D81;
}

/* 2. Map them to Tailwind variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-hvr: var(--hvr);

  --font-sans: var(--font-cairo);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  overflow-x: clip;
  box-sizing: border-box;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility btn-luxury {
  @apply rounded-full bg-rose-600 px-6 py-2.5 text-sm font-semibold text-white
  transition-all duration-300 hover:bg-hvr hover:scale-105
  focus-visible:outline-none focus-visible:ring-2
  focus-visible:ring-primary/70 focus-visible:ring-offset-2;
}